.20_36 { 
	overflow:hidden;
}
.e20_36 { 
	background-color:rgba(57.02083468437195, 85.0000025331974, 71.57000318169594, 1);
	width:1728px;
	height:1117px;
	position:absolute;
}
.20_37 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e20_37 { 
	width:640px;
	height:442px;
	position:absolute;
	left:950px;
	top:445px;
	background-image:url(images/gardening_image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e32_21 { 
	width:893px;
	height:153px;
	position:absolute;
	left:835px;
	top:0px;
}
.e20_38 { 
	width:80px;
	height:70px;
	position:absolute;
	left:729px;
	top:27px;
}
.e20_39 { 
	background-color:rgba(193.00000369548798, 225.00000178813934, 193.00000369548798, 1);
	width:65px;
	height:50.3125px;
	position:absolute;
	left:6.25px;
	top:9.84375px;
}
.e20_40 { 
	width:79px;
	height:66px;
	position:absolute;
	left:532px;
	top:27px;
}
.e20_41 { 
	width:78.99012756347656px;
	height:57.75px;
	position:absolute;
	left:0.009875001385807991px;
	top:4.125px;
}
.e20_42 { 
	background-color:rgba(193.00000369548798, 225.00000178813934, 193.00000369548798, 1);
	width:14.812499046325684px;
	height:12.375px;
	position:absolute;
	left:14.8125px;
	top:20.625px;
}
.e20_43 { 
	background-color:rgba(193.00000369548798, 225.00000178813934, 193.00000369548798, 1);
	width:78.99012756347656px;
	height:57.75px;
	position:absolute;
	left:0px;
	top:0px;
}
.e20_44 { 
	width:82px;
	height:72px;
	position:absolute;
	left:371px;
	top:24px;
}
.e20_45 { 
	background-color:rgba(193.00000369548798, 225.00000178813934, 193.00000369548798, 1);
	width:30.75px;
	height:27px;
	position:absolute;
	left:44.41666793823242px;
	top:6px;
}
.e20_46 { 
	background-color:rgba(193.00000369548798, 225.00000178813934, 193.00000369548798, 1);
	width:68.1590805053711px;
	height:59.84699630737305px;
	position:absolute;
	left:7.0075836181640625px;
	top:6px;
}
.e20_47 { 
	width:87px;
	height:77px;
	position:absolute;
	left:205px;
	top:21px;
}
.e20_48 { 
	background-color:rgba(193.00000369548798, 225.00000178813934, 193.00000369548798, 1);
	width:76.125px;
	height:57.726959228515625px;
	position:absolute;
	left:5.437499523162842px;
	top:9.634625434875488px;
}
.e20_49 { 
	width:86px;
	height:70px;
	position:absolute;
	left:47px;
	top:24px;
}
.e20_50 { 
	background-color:rgba(193.00000369548798, 225.00000178813934, 193.00000369548798, 1);
	width:76.1370849609375px;
	height:58.513858795166016px;
	position:absolute;
	left:4.929883003234863px;
	top:5.74395227432251px;
}
.e20_51 { 
	color:rgba(255, 255, 255, 1);
	width:121px;
	height:23px;
	position:absolute;
	left:29px;
	top:111px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e20_52 { 
	color:rgba(255, 255, 255, 1);
	width:121px;
	height:23px;
	position:absolute;
	left:188px;
	top:111px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e20_54 { 
	color:rgba(255, 255, 255, 1);
	width:120px;
	height:23px;
	position:absolute;
	left:352px;
	top:111px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e20_56 { 
	color:rgba(255, 255, 255, 1);
	width:121px;
	height:23px;
	position:absolute;
	left:511px;
	top:111px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e20_58 { 
	color:rgba(255, 255, 255, 1);
	width:194px;
	height:23px;
	position:absolute;
	left:670px;
	top:111px;
	font-family:IBM Plex Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e20_60 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.3199999928474426);
	width:893px;
	height:153px;
	position:absolute;
	left:0px;
	top:0px;
}
.e20_61 { 
	background-color:rgba(107.99250036478043, 128.56249898672104, 102.85000070929527, 0.8899999856948853);
	width:726px;
	height:731px;
	position:absolute;
	left:54px;
	top:269px;
	border-top-left-radius:96px;
	border-top-right-radius:96px;
	border-bottom-left-radius:96px;
	border-bottom-right-radius:96px;
}
.e20_62 { 
	color:rgba(255, 255, 255, 1);
	width:588px;
	height:65px;
	position:absolute;
	left:86px;
	top:327px;
	font-family:IBM Plex Sans;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}
.e20_63 { 
	color:rgba(255, 255, 255, 1);
	width:665px;
	height:522px;
	position:absolute;
	left:83px;
	top:417px;
	font-family:IBM Plex Sans;
	text-align:left;
	font-size:38px;
	letter-spacing:0;
}
.e20_64 { 
	color:rgba(255, 255, 255, 1);
	width:729px;
	height:130px;
	position:absolute;
	left:35px;
	top:23px;
	font-family:IBM Plex Sans;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
